# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost

ALLOWED_ORIGINS=http://localhost:8080

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30